[general]
display-n=0
display-tab-names=2
gtk-theme-name='Adwaita-dark'
gtk-use-system-default-theme=false
hide-tabs-if-one-tab=false
history-size=1000
infinite-history=true
load-guake-yml=true
max-tab-name-length=100
mouse-display=true
open-tab-cwd=true
prompt-on-quit=true
quick-open-command-line='code %(file_path)s'
quick-open-enable=true
restore-tabs-notify=true
restore-tabs-startup=true
save-tabs-when-changed=true
scroll-keystroke=true
start-at-login=true
use-default-font=true
use-login-shell=true
use-popup=true
use-scrollbar=true
use-trayicon=true
window-halignment=0
window-height=80
window-losefocus=false
window-refocus=false
window-tabbar=true
window-width=100

[keybindings/global]
show-hide='F1'

[style]
cursor-blink-mode=0

[style/background]
transparency=90

[style/font]
allow-bold=true
palette='#303030303030:#E1E132321A1A:#6A6AB0B01717:#FFFFC0C00505:#00004F4F9E9E:#ECEC00004848:#2A2AA7A7E7E7:#F2F2F2F2F2F2:#5D5D5D5D5D5D:#FFFF36361E1E:#7B7BC9C91F1F:#FFFFD0D00A0A:#00007171FFFF:#FFFF1D1D6262:#4B4BB8B8FDFD:#A0A02020F0F0:#F2F2F2F2F2F2:#101010101010'
palette-name='Elementary'
